[database]
; DB URI syntax examples:

; URI = mysql://host/database?debug=1
; URI = mysql://user:password@host/database
; URI = postgres:///full/path/to/socket/database
; URI = postgres://host:5432/database
; URI = postgres://user@host/database?debug=&cache=
; URI = sqlite:///full/path/to/database
; URI = sqlite:/C:/full/path/to/database

[library]
path = /var/lib/LRE_Flibusta

[filters]
# Space-separated list of language codes
lang = ru en

# Show/hide deleted books; 0 - hide, 1 - show
deleted = 0

# Default value to use filters in search forms
use_in_search_forms = 1

# Use filters in lists of books
use_in_books_list = 1

[columns]
# Full list of author columns:
# author = surname name misc_name fullname count
# Default column is fullname
author = fullname count
# Full list of book columns:
# book = title series ser_no archive file size lib_id deleted date
#        author1 author_list ext lang
#        genre1name genre1title genre_name_list genre_title_list
# author1 is just one author from the list if there are more than 1
# author_list is a comma-separated list of full names
# genre1*/genre_*_list is a (one of/list of) genres (names or titles)
# Default column is just title
book = ser_no title

[download]
# Download formats:
# %A - authors (comma-separated fullnames)
# %a - author1 (one of, fullname)
# %e - file extension
# %f - file name in archive
# %G - genre (one of), name
# %g - genre (one of), title
# %J - genres (comma-separated names)
# %j - genres (comma-separated titles)
# %l - language
# %n - series number (or 0)
# %s - series
# %t - title
# Examples:
# format = %f (this is the default)
# format = %a/%s/%n %t

# Directory to download books to
path = /tmp
