global-include Makefile *.py *.rst *.txt
include sample/m_librarian.conf
include docs/genapidocs COPYING MANIFEST.in TODO mk-distr tox.ini
recursive-include docs* *.css *.js *.html *.gif *.png
recursive-include m_librarian/translations *.mo *.po
recursive-include tests test_config.conf *.inpx
