--trusted-host phdru.name
--find-links=http://phdru.name/Software/Python/
--install-option="--compile"

argparse; python_version == '2.6'
SQLObject>=2.2.1; python_version >= '2.6' and python_version < '3.0'
SQLObject>=3.0.0; python_version >= '3.4'
m_lib>=2.0; python_version >= '2.6' and python_version < '3.0'
m_lib>=3.0; python_version >= '3.4'
