#encoding utf-8
#import cgi
#extends views.layout
#attr $title = 'Список книг автора'
#def body
<h1>$title $author.fullname</h1>

#if $books
  <form action="" method="POST" style="height: 80%">
  <select multiple style="height: 90%">
  #set $series = None
  #for $book in $books
  #if $book.series != $series
  #if $series is not None
  </optgroup>
  #end if
  #set $series = $book.series
  <optgroup label="#slurp
  #if $book.series
$cgi.escape($series, 1)#slurp
  #else
Вне серий#slurp
  #end if
">
  #end if
  <option value="$book.id">$book.ser_no $cgi.escape($book.title)</option>
  #end for
  </optgroup>
  </select>
  </form>
#else
  <p>Не найдено ни одной книги!</p>
#end if
#end def
