#encoding utf-8
#import cgi
#extends views.layout
#attr $title = 'Список книг'
#def body
<h1>$title</h1>

#if $books_by_author
  <form action="/download/" method="POST" style="height: 80%">
  <div style="width: 100%; height: 90%">
  <select multiple name="books" style="height: 100%">
  #set $series = None
  #for $author in $sorted($books_by_author)
    #set $books = $books_by_author[$author]
    #for $book in $books
    #if $book.series != $series
    #if $series is not None
    </optgroup>
    #end if
    #set $series = $book.series
    <optgroup label="#slurp
$author — #slurp
    #if $book.series
$cgi.escape($series, 1)#slurp
    #else
Вне серий#slurp
    #end if
">
    #end if
    <option value="$book.id">$book.ser_no $cgi.escape($book.title)</option>
    #end for
  #end for
  </optgroup>
  </select>
  </div>
  <div style="width: 100%; text-align: center">
  <input type="submit" value="Скачать">
  </div>
  </form>
#else
  <p>Не найдено ни одной книги!</p>
#end if
#end def
