#encoding utf-8
#from m_librarian.translations import translations
#extends views.layout
#attr $title = 'Список авторов'
#def body
<h1>Поиск авторов</h1>
#from views.search_authors_form import search_authors_form
$search_authors_form(searchList=$searchList)

<h1>$title</h1>

#if $authors
#filter WebSafe
  <table>
  <tr>
  #set $_ = $getattr($translations, 'ugettext', None) or $translations.gettext
  #for $column in $columns
    <td style="text-align: center">$_($column)</td>
  #end for
  </tr>
  #for $author in $authors
  <tr>
  #for $column in $columns
    #if $column == 'count'
    #set $style = ' style="text-align: right; width: 5ex"'
    #else
    #set $style = ''
    #end if
    <td$style><a href="/books-by-author/$author.id/">
    $unicode($getattr($author, $column) or '')
    </a></td>
  #end for
  </tr>
  #end for
  </table>
#end filter WebSafe
#else
  <p>Не найдено ни одного автора!</p>
#end if
#end def
