#encoding utf-8
#extends views.layout
#attr $title = 'Поиск авторов'
#def body
<h1>$title</h1>

#from views.search_authors_form import search_authors_form
$search_authors_form(searchList=$searchList)
#end def
